<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
         <add name="SADBConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\blytv\C#\SpaceAvenger\SpaceAvenger\bin\Debug\net9.0-windows\Database\Local.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>